# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv)

In [5]:
 %pip install duckdb duckdb-engine jupysql

Requirement already satisfied: duckdb in /usr/local/lib/python3.11/dist-packages (1.1.3)
Collecting duckdb-engine
  Downloading duckdb_engine-0.15.0-py3-none-any.whl.metadata (7.9 kB)
Collecting jupysql
  Downloading jupysql-0.10.17-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.11/dist-packages (from duckdb-engine) (24.2)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.11/dist-packages (from duckdb-engine) (2.0.37)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.1.5)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (25.1.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.8.3-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.12.14)
Downloading duckdb_engine-0.15.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 1.9 MB/s eta 0:00:00
Downloading jupysql-0.10.17-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 4.6 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 10.9 MB/s eta 0:00:00
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading posthog-3.8.3-py2.py3-none-any.whl (64 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.7/64.7 kB 5.2 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-engine-0.15.0 jupysql-0.10.17 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.8.3

In [10]:
import duckdb
import pandas as pd
%load_ext sql

con = duckdb.connect()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [33]:
pd.read_csv('https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv', sep='\t')
con.sql("CREATE TABLE nyc_subway_stations AS SELECT * FROM read_csv_auto('https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv', sep='\t')")

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,1,376.0,Cortlandt St,NaN,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,NaN,"R,W","R,W",YELLOW,NaN,NaN
1,2,2.0,Rector St,NaN,NaN,Rector St (1) Manhattan,Rector St (1),Manhattan,NaN,1,1,RED,NaN,NaN
2,3,1.0,South Ferry,NaN,NaN,South Ferry (1) Manhattan,South Ferry (1),Manhattan,NaN,1,1,RED,NaN,NaN
3,4,125.0,138th St,Grand Concourse,Grand Concourse,"138th St / Grand Concourse (4,5) Bronx","138th St / Grand Concourse (4,5)",Bronx,NaN,"4,5","4,5",GREEN,NaN,NaN
4,5,126.0,149th St,Grand Concourse,Grand Concourse,149th St / Grand Concourse (4) Bronx,149th St / Grand Concourse (4),Bronx,NaN,4,"2,4,5",GREEN,express,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487,909.0,JFK Terminal 8,NaN,NaN,"JFK Terminal 8, Queens",JFK Terminal 8,Queens,NaN,NaN,NaN,AIR-BLUE,NaN,NaN
487,488,903.0,Federal Circle,Rental Car,NaN,"Federal Circle / Rental Car, Queens",Federal Circle / Rental Car,Queens,NaN,NaN,NaN,AIR-BLUE,NaN,NaN
488,489,902.0,Long Term Parking,NaN,NaN,"Long Term Parking, Queens",Long Term Parking,Queens,NaN,NaN,NaN,AIR-BLUE,NaN,NaN
489,490,901.0,Howard Beach,NaN,159th Ave,"Howard Beach, Queens",Howard Beach,Queens,NaN,NaN,A,AIR-BLUE,NaN,NaN
490,491,900.0,Jamaica,Sutphin Blvd,Sutphin Blvd,"Jamaica / Sutphin Blvd, Queens",Jamaica / Sutphin Blvd,Queens,NaN,NaN,"E,J,Z",AIR-BLUE,NaN,NaN

In [34]:
# read from a file using fully auto-detected settings
pd.read_csv('https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv', sep='\t')
con.sql("CREATE TABLE nyc_neighborhoods AS SELECT * FROM read_csv_auto('https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv', sep='\t')")

          BORONAME                      NAME
0         Brooklyn               Bensonhurst
1        Manhattan              East Village
2        Manhattan              West Village
3        The Bronx              Throggs Neck
4        The Bronx  Wakefield-Williamsbridge
..             ...                       ...
124       Brooklyn                  Red Hook
125         Queens   Douglastown-Little Neck
126         Queens                Whitestone
127         Queens                  Steinway
128  Staten Island                  Rosebank

[129 rows x 2 columns]

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [14]:
con.sql("SELECT ID, NAME, BOROUGH FROM nyc_subway_stations")

┌────────┬───────────────────┬───────────┐
│   ID   │       NAME        │  BOROUGH  │
│ double │      varchar      │  varchar  │
├────────┼───────────────────┼───────────┤
│  376.0 │ Cortlandt St      │ Manhattan │
│    2.0 │ Rector St         │ Manhattan │
│    1.0 │ South Ferry       │ Manhattan │
│  125.0 │ 138th St          │ Bronx     │
│  126.0 │ 149th St          │ Bronx     │
│   45.0 │ 149th St          │ Bronx     │
│  127.0 │ 161st St          │ Bronx     │
│  208.0 │ 167th St          │ Bronx     │
│  128.0 │ 167th St          │ Bronx     │
│  209.0 │ 170th St          │ Bronx     │
│    ·   │    ·              │   ·       │
│    ·   │    ·              │   ·       │
│    ·   │    ·              │   ·       │
│  904.0 │ JFK Terminal 1    │ Queens    │
│  905.0 │ JFK Terminal 2-3  │ Queens    │
│  906.0 │ JFK Terminal 4    │ Queens    │
│  907.0 │ JFK Terminal 5-6  │ Queens    │
│  908.0 │ JFK Terminal 7    │ Queens    │
│  909.0 │ JFK Terminal 8    │ Queens    │
│  903.0 │ Federal Circle    │ Queens    │
│  902.0 │ Long Term Parking │ Queens    │
│  901.0 │ Howard Beach      │ Queens    │
│  900.0 │ Jamaica           │ Queens    │
├────────┴───────────────────┴───────────┤
│ 491 rows (20 shown)          3 columns │
└────────────────────────────────────────┘

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [17]:
con.sql("select name,ID from nyc_subway_stations where borough=='Manhattan'")

┌────────────────────┬────────┐
│        NAME        │   ID   │
│      varchar       │ double │
├────────────────────┼────────┤
│ Cortlandt St       │  376.0 │
│ Rector St          │    2.0 │
│ South Ferry        │    1.0 │
│ W 4th St           │  296.0 │
│ 103rd St           │  121.0 │
│ 103rd St           │  192.0 │
│ 103rd St           │   22.0 │
│ 110th St           │  122.0 │
│ 110th St           │  193.0 │
│ 110th St           │   39.0 │
│    ·               │     ·  │
│    ·               │     ·  │
│    ·               │     ·  │
│ Spring St          │  107.0 │
│ Times Sq           │  157.0 │
│ Union Sq           │  371.0 │
│ W 4th St           │  293.0 │
│ Wall St            │  103.0 │
│ Wall St            │   72.0 │
│ Whitehall St       │  378.0 │
│ Cortlandt St       │  491.0 │
│ World Trade Center │  492.0 │
│ Times Sq           │   99.0 │
├────────────────────┴────────┤
│     140 rows (20 shown)     │
└─────────────────────────────┘

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [18]:
con.sql("select name,ID from nyc_subway_stations order by name")

┌────────────────────┬────────┐
│        NAME        │   ID   │
│      varchar       │ double │
├────────────────────┼────────┤
│ 103rd St           │   22.0 │
│ 103rd St           │  192.0 │
│ 103rd St           │  121.0 │
│ 103rd St           │  174.0 │
│ 104th St           │  239.0 │
│ 104th St           │  329.0 │
│ 110th St           │  122.0 │
│ 110th St           │   39.0 │
│ 110th St           │  193.0 │
│ 111th St           │  240.0 │
│    ·               │    ·   │
│    ·               │    ·   │
│    ·               │    ·   │
│ Willets Point Blvd │  176.0 │
│ Wilson Ave         │  454.0 │
│ Winthrop St        │   94.0 │
│ Woodhaven Blvd     │  328.0 │
│ Woodhaven Blvd     │  268.0 │
│ Woodlawn           │  138.0 │
│ World Trade Center │  492.0 │
│ Wyckoff Ave        │  334.0 │
│ York St            │  303.0 │
│ Zerega Ave         │  152.0 │
├────────────────────┴────────┤
│     491 rows (20 shown)     │
└─────────────────────────────┘

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [19]:
con.sql("select distinct borough from nyc_subway_stations")

┌───────────────┐
│    BOROUGH    │
│    varchar    │
├───────────────┤
│ Brooklyn      │
│ Queens        │
│ Manhattan     │
│ Bronx         │
│ Staten Island │
└───────────────┘

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [23]:
con.sql("select borough,count(*) as 'station number' from nyc_subway_stations group by borough")

┌───────────────┬────────────────┐
│    BOROUGH    │ station number │
│    varchar    │     int64      │
├───────────────┼────────────────┤
│ Brooklyn      │            170 │
│ Queens        │             90 │
│ Manhattan     │            140 │
│ Bronx         │             69 │
│ Staten Island │             22 │
└───────────────┴────────────────┘

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [29]:
con.sql("select borough,count(*) as 'station number' from nyc_subway_stations group by borough order by 2 desc")

┌───────────────┬────────────────┐
│    BOROUGH    │ station number │
│    varchar    │     int64      │
├───────────────┼────────────────┤
│ Brooklyn      │            170 │
│ Manhattan     │            140 │
│ Queens        │             90 │
│ Bronx         │             69 │
│ Staten Island │             22 │
└───────────────┴────────────────┘

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [31]:
con.sql("select * from nyc_subway_stations a left join nyc_neighborhoods b on a.name=b.name")

┌──────────┬────────┬───────────────────┬─────────────────┬─────────────────┬─────────────────────────────────────────────────┬────────────────────────────────────────┬───────────────┬─────────┬─────────┬───────────┬──────────────┬─────────┬─────────┬───────────────┬──────────────┐
│ OBJECTID │   ID   │       NAME        │    ALT_NAME     │    CROSS_ST     │                    LONG_NAME                    │                 LABEL                  │    BOROUGH    │ NGHBHD  │ ROUTES  │ TRANSFERS │    COLOR     │ EXPRESS │ CLOSED  │   BORONAME    │     NAME     │
│  int64   │ double │      varchar      │     varchar     │     varchar     │                     varchar                     │                varchar                 │    varchar    │ varchar │ varchar │  varchar  │   varchar    │ varchar │ boolean │    varchar    │   varchar    │
├──────────┼────────┼───────────────────┼─────────────────┼─────────────────┼─────────────────────────────────────────────────┼────────────────────────────────────────┼───────────────┼─────────┼─────────┼───────────┼──────────────┼─────────┼─────────┼───────────────┼──────────────┤
│        1 │  376.0 │ Cortlandt St      │ NULL            │ Church St       │ Cortlandt St (R,W) Manhattan                    │ Cortlandt St (R,W)                     │ Manhattan     │ NULL    │ R,W     │ R,W       │ YELLOW       │ NULL    │ NULL    │ NULL          │ NULL         │
│        2 │    2.0 │ Rector St         │ NULL            │ NULL            │ Rector St (1) Manhattan                         │ Rector St (1)                          │ Manhattan     │ NULL    │ 1       │ 1         │ RED          │ NULL    │ NULL    │ NULL          │ NULL         │
│        3 │    1.0 │ South Ferry       │ NULL            │ NULL            │ South Ferry (1) Manhattan                       │ South Ferry (1)                        │ Manhattan     │ NULL    │ 1       │ 1         │ RED          │ NULL    │ NULL    │ NULL          │ NULL         │
│        4 │  125.0 │ 138th St          │ Grand Concourse │ Grand Concourse │ 138th St / Grand Concourse (4,5) Bronx          │ 138th St / Grand Concourse (4,5)       │ Bronx         │ NULL    │ 4,5     │ 4,5       │ GREEN        │ NULL    │ NULL    │ NULL          │ NULL         │
│        5 │  126.0 │ 149th St          │ Grand Concourse │ Grand Concourse │ 149th St / Grand Concourse (4) Bronx            │ 149th St / Grand Concourse (4)         │ Bronx         │ NULL    │ 4       │ 2,4,5     │ GREEN        │ express │ NULL    │ NULL          │ NULL         │
│        6 │   45.0 │ 149th St          │ Grand Concourse │ Grand Concourse │ 149th St / Grand Concourse (2,5) Bronx          │ 149th St / Grand Concourse (2,5)       │ Bronx         │ NULL    │ 2,5     │ 2,4,5     │ RED-GREEN    │ express │ NULL    │ NULL          │ NULL         │
│        7 │  127.0 │ 161st St          │ Yankee Stadium  │ River Ave       │ 161st St / Yankee Stadium (B,D,4) Bronx         │ 161st St / Yankee Stadium (B,D,4)      │ Bronx         │ NULL    │ B,D,4   │ B,D,4     │ GREEN-ORANGE │ NULL    │ NULL    │ NULL          │ NULL         │
│        8 │  208.0 │ 167th St          │ NULL            │ Grand Concourse │ 167th St (B,D) Bronx                            │ 167th St (B,D)                         │ Bronx         │ NULL    │ B,D     │ B,D       │ ORANGE       │ NULL    │ NULL    │ NULL          │ NULL         │
│        9 │  128.0 │ 167th St          │ NULL            │ River Ave       │ 167th St (4) Bronx                              │ 167th St (4)                           │ Bronx         │ NULL    │ 4       │ 4         │ GREEN        │ NULL    │ NULL    │ NULL          │ NULL         │
│       10 │  209.0 │ 170th St          │ NULL            │ Grand Concourse │ 170th St (B,D) Bronx                            │ 170th St (B,D)                         │ Bronx         │ NULL    │ B,D     │ B,D       │ ORANGE       │ NULL    │ NULL    │ NULL          │ NULL         │
│        · │    ·   │    ·              │  ·              │  ·              │          ·                                      │       ·                                │   ·           │  ·      │  ·      │  ·        │   ·          │  ·      │  ·      │  ·            │  ·           │
│        · │    ·   │    ·              │  ·              │  ·              │          ·                                      │       ·                                │   ·           │  ·      │  ·      │  ·        │   ·          │  ·      │  ·      │  ·            │  ·           │
│        · │    ·   │    ·              │  ·              │  ·              │          ·                                      │       ·                                │   ·           │  ·      │  ·      │  ·        │   ·          │  ·      │  ·      │  ·            │  ·           │
│      489 │  902.0 │ Long Term Parking │ NULL            │ NULL            │ Long Term Parking, Queens                       │ Long Term Parking                      │ Queens        │ NULL    │ NULL    │ NULL      │ AIR-BLUE     │ NULL    │ NULL    │ NULL          │ NULL         │
│       58 │   65.0 │ Morris Park       │ NULL            │ Esplanade       │ Morris Park (5) Bronx                           │ Morris Park (5)                        │ Bronx         │ NULL    │ 5       │ 5         │ GREEN        │ NULL    │ NULL    │ The Bronx     │ Morris Park  │
│      432 │  243.0 │ Howard Beach      │ JFK Airport     │ 159th Ave       │ Howard Beach / JFK Airport (A) Queens           │ Howard Beach / JFK Airport (A)         │ Queens        │ NULL    │ A       │ A         │ BLUE         │ NULL    │ NULL    │ Queens        │ Howard Beach │
│      460 │  472.0 │ Clifton           │ NULL            │ NULL            │ Clifton, Staten Island                          │ Clifton                                │ Staten Island │ NULL    │ NULL    │ NULL      │ SI-BLUE      │ NULL    │ NULL    │ Staten Island │ Clifton      │
│      465 │  481.0 │ Great Kills       │ NULL            │ NULL            │ Great Kills, Staten Island                      │ Great Kills                            │ Staten Island │ NULL    │ NULL    │ NULL      │ SI-BLUE      │ NULL    │ NULL    │ Staten Island │ Great Kills  │
│      466 │  484.0 │ Huguenot          │ NULL            │ NULL            │ Huguenot, Staten Island                         │ Huguenot                               │ Staten Island │ NULL    │ NULL    │ NULL      │ SI-BLUE      │ NULL    │ NULL    │ Staten Island │ Huguenot     │
│      473 │  485.0 │ Prince's Bay      │ NULL            │ NULL            │ Prince's Bay, Staten Island                     │ Prince's Bay                           │ Staten Island │ NULL    │ NULL    │ NULL      │ SI-BLUE      │ NULL    │ NULL    │ Staten Island │ Prince's Bay │
│      479 │  401.0 │ Coney Island      │ Stillwell Ave   │ Surf Ave        │ Coney Island / Stillwell Ave (D,F,N,Q) Brooklyn │ Coney Island / Stillwell Ave (D,F,N,Q) │ Brooklyn      │ NULL    │ D,F,N,Q │ D,F,N,Q   │ ORANGE       │ NULL    │ NULL    │ Brooklyn      │ Coney Island │
│      490 │  901.0 │ Howard Beach      │ NULL            │ 159th Ave       │ Howard Beach, Queens                            │ Howard Beach                           │ Queens        │ NULL    │ NULL    │ A         │ AIR-BLUE     │ NULL    │ NULL    │ Queens        │ Howard Beach │
│      491 │  900.0 │ Jamaica           │ Sutphin Blvd    │ Sutphin Blvd    │ Jamaica / Sutphin Blvd, Queens                  │ Jamaica / Sutphin Blvd                 │ Queens        │ NULL    │ NULL    │ E,J,Z     │ AIR-BLUE     │ NULL    │ NULL    │ Queens        │ Jamaica      │
├──────────┴────────┴───────────────────┴─────────────────┴─────────────────┴─────────────────────────────────────────────────┴────────────────────────────────────────┴───────────────┴─────────┴─────────┴───────────┴──────────────┴─────────┴─────────┴───────────────┴──────────────┤
│ 491 rows (20 shown)                                                                                                                                                                                                                                                         16 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [35]:
con.sql("select name from nyc_subway_stations where name like '%St%'")

┌───────────────┐
│     NAME      │
│    varchar    │
├───────────────┤
│ Cortlandt St  │
│ Rector St     │
│ 138th St      │
│ 149th St      │
│ 149th St      │
│ 161st St      │
│ 167th St      │
│ 167th St      │
│ 170th St      │
│ 170th St      │
│    ·          │
│    ·          │
│    ·          │
│ Beach 36th St │
│ Beach 44th St │
│ Beach 60th St │
│ Beach 67th St │
│ Beach 90th St │
│ Beach 98th St │
│ Main St       │
│ Steinway St   │
│ St George     │
│ Stapleton     │
├───────────────┤
│   230 rows    │
│  (20 shown)   │
└───────────────┘

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [36]:
con.sql("select name,ID from nyc_subway_stations where borough=='Brooklyn' and name like '%R%'")

┌───────────────┬────────┐
│     NAME      │   ID   │
│    varchar    │ double │
├───────────────┼────────┤
│ Bay Ridge Ave │  411.0 │
│ Beverly Rd    │  388.0 │
│ Beverly Rd    │   96.0 │
│ Cortelyou Rd  │  389.0 │
│ Neck Rd       │  396.0 │
│ Ralph Ave     │  228.0 │
│ Rockaway Ave  │  229.0 │
│ Rockaway Ave  │   87.0 │
│ Rockaway Pky  │  462.0 │
└───────────────┴────────┘